# ------------------------------------------------
# Required
# ------------------------------------------------

project_id      = ""
mgmt_allow_ips  = ["0.0.0.0/0"]
mgmt_public_ip  = true  ### You need to set this to "true" if you set create_bastion as false.
region          = "us-west1"
image_name      = "vmseries-flex-bundle2-1126"
create_bastion   = false   ### You can create a basion host for remote access the NGFW if you set 'mgmt_public_ip  = false'

# ------------------------------------------------
# Optional
# ------------------------------------------------
subnet_cidr_mgmt = "10.0.0.0/24"
subnet_cidr_data = "10.0.1.0/24"
prefix           = "clara"
csp_authcodes    = ""
csp_pin_id       = ""
csp_pin_value    = ""
max_firewalls    = 1
min_firewalls    = 1
mirroring_mode   = true

