# ------------------------------------------------
# Required
# ------------------------------------------------

project_id                             = ""
mgmt_network_name                      = "existing-mgmt-vpc"
data_network_name                      = "existing-data-vpc"
existing_intercept_deployment_group_id = ""
existing_mirroring_deployment_group_id = "projects/YOUR_PROJECT_ID/global/mirroringDeploymentGroups/your-mirroring-dg"
bootstrap_bucket                       = "your-bootstrap-bucket-name" # You can get from the producer terraform output
mgmt_allow_ips                         = ["0.0.0.0/0"]
mgmt_public_ip  = false  ### You need to make this to "true" if you sent create_bastion as false.
region          = "europe-west9"
image_name      = "vmseries-flex-bundle2-1126"
create_bastion   = true   ### You can create a basion host for remote access the NGFW if you didn't assigned public ip address to the management interface of NGFW
subnet_cidr_mgmt = "11.0.0.0/28"
subnet_cidr_data = "11.0.1.0/28"

# ------------------------------------------------
# Optional
# ------------------------------------------------
prefix           = "clara"
csp_authcodes    = ""
csp_pin_id       = ""
csp_pin_value    = ""
max_firewalls    = 1
min_firewalls    = 1
mirroring_mode   = true

